# Runtime requirements

flask~=2.0.1                    # BSD 3-Clause
Flask-SQLAlchemy~=2.5.1         # BSD 3-Clause
Flask-Migrate~=2.7.0            # MIT
Flask-Marshmallow~=0.14.0       # MIT
marshmallow-sqlalchemy~=0.25.0  # MIT
flask-smorest~=0.31.2           # MIT

psycopg2~=2.9.1                 # LGPL with exceptions

Flask-OIDC~=1.4.0               # MIT
requests_oauthlib~=1.3.0        # ISC

cli-ui~=0.12                    # BSD 3-Clause
halo~=0.0.31                    # MIT
